<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @admin_configuration_identifier.identifier %>
</p>

<%= link_to 'Edit', edit_admin_configuration_identifier_path(@admin_configuration_identifier) %> |
<%= link_to 'Back', admin_configuration_identifiers_path %>
