<p id="notice"><%= notice %></p>

<p>
  <strong>Worlds:</strong>
  <%= @admin_api_translator.worlds %>
</p>

<%= link_to 'Edit', edit_admin_api_translator_path(@admin_api_translator) %> |
<%= link_to 'Back', admin_api_translators_path %>
