<style>
    #container-vertical{
        width: 200px;
    }
</style>


<script>

    $(document).ready(function(){
        $('#main-box-vertical-menu').click(function(e){
            e.preventDefault();
            if ($('.ul-inner-element').is(":visible")){
            $('.ul-inner-element').hide()
            }
            else
            {
                $('.ul-inner-element').show()
            }
        });
    });

    $(document).ready(function(){

        $('li.inner-button').click(function(e){
            var $clicked = $(this);
            e.preventDefault();

                if ($clicked.children('.final-button').is(":visible")) {
                    $clicked.children('.final-button').hide()
                } else {
                    $clicked.children('.final-button').hide()
                }
        });

    });
</script>

<div id="container-vertical">
  <div class="row-vertical">
    <div id="left" class="span3">

      <ul>
        <li><a href="#" id="main-box-vertical-menu">Всички продукти</a>

          <ul class="ul-inner-element">
            <% category_buttons.each_with_index do |button,i| %>


            <li id="inner-button<%= i%>" class="inner-button"><a href="#"><%= button.name_cat %></a></li>

              <ul class="ul-inner-element">

                <% sub_category_buttons.each_with_index do |sub_button| %>
                    <% if sub_button.category_id == button.id %>
                        <li class="final-button"><a><%= sub_button.name %></a></li>
                    <% end %>
                <% end %>


              </ul>

            <%  end %>


          </ul>
        </li>
      </ul>

    </div>
  </div>
</div>

