<nav class="navbar navbar-inverse navbar-static-top" style="background-color: rgba(206, 206, 206, 0.55)">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">



        <% category_buttons.each do |category| %>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= category.name_cat%> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% sub_category_buttons.each do |sub_category| %>
                <% if sub_category.category_id == category.id %>
                    <li class="menu-item"><a href="/product=<%= sub_category.identifier %><% %>" ><%= sub_category.name %></a>
                <% end %>
            <% end %>
          </ul>
        </li>
            <% end %>
        <li><a href="/configurator">Конфигуратор</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav navbar-right">
          <li></li>
          <li></li>
        </ul>

          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>