<style>
    #order-box {
        list-style-type: none;
        text-decoration: none;
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        padding: 20px;
    }
    ul {
        list-style-type: none;
       }
</style>

<div class="shopping-cart">
  <div id="printableArea">

    <div id="order-box">
    <p style="font-size: 30px">Твоята поръчка</p>
    <hr>
    <ul>

        <li><strong>Брой продукти: </strong> <%=  " #{current_order.order_items.size}" %></li>
        <li><strong>Обща стойност: </strong><%= " #{ price_dds(current_order.subtotal)} " %></li>
        <li>
          <h4 class="group inner list-group-item-heading">
          <a href="/cart/sale_id=<%= current_order.id %>">Купи</a>
        </h4>
        </li>

    </ul>
  </div>
<br>

  <%= render "shopping_cart" %>
  </div>
</div>

<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>