@import "bootstrap-sprockets";
@import "bootstrap";
@import "store_mcomputers";
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Roboto:300);
body{

background-color: #DADADA;


  #wrapper
  {
    height-min: 950px;
    margin: 0 auto;
    width: 95%;
    padding-bottom: 10%;
    background-color: #ffffff;
    .navbar.navbar-inverse
    {
      border-radius: 0;
    }

    .top-content
    {
      height: 100px;
    }
    .clearfix
    {
      clear: both;
    }
      nav#nav-vertical
    {
      float: left;
    }
    main
    {
      background-color: white;
    }











  }
}